# Backend
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/venv/
backend/temp_resumes/
backend/*.egg-info/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# General
.DS_Store
.vscode/